@media screen and (max-width: 1366px){
    
    
}


@media screen and (max-width: 1280px){
    

    .hide-mobile-view{
        display: none !important;
    }
    .home-wrapper{
        position: relative;
        width: 100%;
        height: 80vh;
    }
    .nav-bar-wrapper{
        position: fixed;
        width: 95%;
        height: calc(100vh);
        flex-wrap: wrap;
        padding: 0;
        top: 0;
        left: -95%;
        transition: all 0.5s linear;
        z-index: 100;
    }
    .nav-bar-wrapper.active-bar-wrapper{
        left: 0%;
    }
    .nav-bar-mobile{
        display: flex;
        z-index: 50;
    }
    .nav-bw-menu-wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 15px;
        padding-top: 20px;
        background-color: white;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
        z-index: 50;
    }
    body.dark .nav-bw-menu-wrapper{
        background-color: rgb(21, 21, 21);
    }
    .nav-bw-logobox{
        position: relative;
        width: 200px;
        height: 100%;
    }
    .logo-image{
        position: relative;
        width: 120px;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
    .menu-link{
        position: relative;
        margin: 15px 0;
        transition: all 0.5s linear;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 16px;
    }
    .contact-link{
        display: none;
    }
    .theme-mode-toggle{
        right: 50px;
    }
    .barIcon{
        position: absolute;
        right: 20px;
        z-index: 50;
        font-size: 20px;
        transition: all 0.5s linear;
    }
    .closeIcon{
        position: absolute;
        right: 20px;
        top: 40px;
        z-index: 50;
        font-size: 20px;
        transition: all 0.5s linear;
        display: inline !important;
    }
    .home-abt-flexbox{
        position: relative;
        width: 100%;
      }
      .home-abt-wrap{
        width: 41vw;
        height: auto;
        margin-bottom: 40px;
      }
      .home-abt-imgBox{
        position: relative;
        width: 100%;
        height: 320px;
        margin-bottom: 20px;
      }
      .home-abt-img{
        position: relative;
        width: 100%;
        height: 100%;
      }
    


}


@media screen and (max-width: 960px){
*::-webkit-scrollbar{
    width: 0px;
    border-radius: 20px;
/*    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);*/
}

.hide-mobile-view{
    display: none !important;
}
.home-wrapper{
    position: relative;
    width: 100%;
    height: 80vh;
}
.nav-bar-wrapper{
    position: fixed;
    width: 95%;
    height: calc(100vh);
    flex-wrap: wrap;
    padding: 0;
    top: 0;
    left: -95%;
    transition: all 0.5s linear;
    z-index: 100;
}
.nav-bar-wrapper.active-bar-wrapper{
    left: 0%;
}
.nav-bar-mobile{
    display: flex;
    z-index: 50;
}
.nav-bw-menu-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 15px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    z-index: 50;
}
body.dark .nav-bw-menu-wrapper{
    background-color: rgb(21, 21, 21);
}
.nav-bw-logobox{
    position: relative;
    width: 200px;
    height: 100%;
}
.logo-image{
    position: relative;
    width: 120px;
    height: auto;
    object-fit: cover;
    object-position: center;
}
.menu-link{
    position: relative;
    margin: 15px 0;
    transition: all 0.5s linear;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
}
.contact-link{
    display: none;
}
.theme-mode-toggle{
    right: 50px;
}
.barIcon{
    position: absolute;
    right: 20px;
    z-index: 50;
    font-size: 20px;
    transition: all 0.5s linear;
}
.closeIcon{
    position: absolute;
    right: 20px;
    top: 40px;
    z-index: 50;
    font-size: 20px;
    transition: all 0.5s linear;
    display: inline !important;
}
.slide-text{
    position: relative;
    font-size: 24px;
}
.contact-link-btn{
    width: 180px;
    padding: 12px 30px;
}
.contact-link-text{
    font-size: 14px;
}
.home-Section-two{
    padding: 50px 5%;
}
.home-section-two-text{
    font-size: 20px;
    font-family: Nunito-SemiBold;
    line-height: 40px;
}
.hideBar{
    display: none !important;
}
.core-belief-wrapper{
    padding: 50px 5%;
}
.core-image-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
.core-list-box{
    position: relative;
    width: 100%;
    padding: 20px 0%;
}
.core-belief-wrapper-two{
    padding: 10px 5%;
    flex-direction: column-reverse;
    padding-bottom: 100px;
}
.core-list-title{
    position: relative;
    font-size: 30px;
}
.core-list-icon{
    position: relative;
    font-size: 14px;
}
.core-list-text{
    position: relative;
    top: -2px;
    font-size: 14px;
}

.service-text{
    position: relative;
    font-size: 24px;
    line-height: 40px;
}
.choose-container{
    padding: 50px 5%;
    padding-bottom: 100px;
}
.choose-header{
    font-size: 30px;
    margin-bottom: 40px;
  }
  .choose-text{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
  }
  .choose-text-two{
    width: 100%;
    text-align: center;
    font-family: Nunito-Regular;
    margin: 40px auto;
    font-size: 16px;
  }
  .choose-flexbox{
    position: relative;
    width: 100%;
    height: auto;
  }
  .choose-wrap{
    position: relative;
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: white;
    padding: 20px;
    padding-bottom: 50px;
    margin: 20px 0px;
    margin-top: 0;
  }
  .choose-icon{
    position: relative;
    font-size: 20px;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .choose-title{
    margin-top: 40px;
    font-size: 20px;
  }
  .choose-subtext{
    font-size: 16px;
    line-height: 24px;
  }
  .hidden-icon{
    position: absolute;
    right: -20px;
    bottom: -20px;
    font-size: 60px;
  }

  .home-about-container{
    padding: 50px 5%;
    padding-bottom: 150px;
  }
  .home-abt-title{
    font-size: 36px;
    margin-bottom: 30px;
    text-align: left;
  }
  .home-abt-text{
    width: 100%;
    text-align: left;
    font-size: 24px;
    line-height: 40px;
  }
  .home-abt-flexbox{
    position: relative;
    width: 100%;
  }
  .home-abt-wrap{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  .home-abt-imgBox{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .home-abt-img{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .home-abt-person-name{
    font-size: 16px;
  }
  .home-abt-person-title{
    font-size: 14px;
  }
  .person-icon{
    position: absolute;
    font-size: 40px;
    right: -10px;
    bottom: -10px;
    color: rgba(217, 166, 119, 0.1);
    transition: all 0.5s linear;
  }
  .home-abt-wrap:hover .person-icon{
    right: 10px;
    bottom: 10px;
    font-size: 30px;
    color: rgba(217, 166, 119, 0.3);
  }
  .home-contact-wrapper{
    padding: 100px 5%;
  }
  .hcw-title{
    font-size: 36px;
    margin-bottom: 10px;
  }
  .hcw-subtitle{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .hcw-subtitle-two{
    font-size: 14px;
  }
  .hcw-contact-btn{
    position: relative;
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(217, 166, 119);
    padding: 12px 30px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: all 0.5s linear;
  }
  .hcw-link-text{
    position: relative;
    font-family: Nunito-SemiBold;
    font-size: 16px;
    margin-right: 10px;
    color: white;
    transition: all 0.5s linear;
  }
  .hcw-link-icon{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    align-content: center;
    text-align: center;
    color: rgb(217, 166, 119);
    font-size: 12px;
    transition: all 0.5s linear;
  }
  .hcw-contact-btn:hover{
    background-color: transparent;
    border: 1px solid white;
    transition: all 0.5s linear;
  }

}